@{
    ViewData["Title"] = "File Share";
}
@model FileShare.Models.FileModel

<div class="container-fluid">
    <div class="row">
        <div  class="col">
            <div align="center" class="center">
                <!-- HorizontalResponsivo -->
                <ins class="adsbygoogle"
                     style="display:block"
                     data-ad-client="ca-pub-2122647083447667"
                     data-ad-slot="2536456475"
                     data-ad-format="auto"
                     data-full-width-responsive="true"></ins>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top: 80px;">
        <div class="col-3">
            <div align="center" class="center">
                <!-- QuadradoResponsivo -->
                <ins class="adsbygoogle"
                     style="display:block"
                     data-ad-client="ca-pub-2122647083447667"
                     data-ad-slot="8909468727"
                     data-ad-format="auto"
                     data-full-width-responsive="true"></ins>
            </div>
        </div>
        <div class="col-6">      
            <div class="d-flex justify-content-center h-100">
			    <div class="user_card" style="width: 100%;">
				    <div class="d-flex justify-content-center">
					    <div class="brand_logo_container">
						    <img src="https://files.afonsoft.com.br/img/FileShareDownload512.png" class="brand_logo" alt="Logo">
					    </div>
				    </div>
				    <div class="d-flex justify-content-center form_container">
					    <form id="downloadForm" asp-controller="Streaming" asp-action="DownloadFileStream" method="post" asp-antiforgery="true"> 
						    
                            <input type="hidden" asp-for="@Model.Id" />
                            <input type="hidden" asp-for="@Model.TrustedName" />
                            <input type="hidden" asp-for="@Model.Hash" />
                            <input type="hidden" asp-for="@Model.Path" />
                            <input type="hidden" asp-for="@Model.Size" />
                            <input type="hidden" asp-for="@Model.Type" />
                            <input type="hidden" asp-for="@Model.UploadDT" />
                            <input type="hidden" asp-for="@Model.UntrustedName" />

                            <div class="container-fluid">
                                <div class="form-group mb-3 row">
                                    <label class="col-2" asp-for="@Model.TrustedName" style="font-weight: bold;"></label>
                                    <div class="col">@Model.TrustedName</div>
                                </div>
                                <div class="form-group mb-3 row">
		                            <label class="col-2" asp-for="@Model.Size" style="font-weight: bold;"></label>
                                    <div class="col">@Model.Size</div>
                                </div>
                                <div class="form-group mb-3 row">
		                            <label class="col-2" asp-for="@Model.Type" style="font-weight: bold;"></label>
                                    <div class="col">@Model.Type</div>
                                </div>
                                <div class="form-group mb-3 row" >
                                    <label class="col-2" asp-for="@Model.UploadDT" style="font-weight: bold;"></label>
                                    <div class="col">@Model.UploadDT</div>
						        </div>
						        <div class="d-flex justify-content-center mt-3 login_container row">
				 	                <button type="submit" name="button" class="btn login_btn" >Download File</button>
				                </div>
                            </div>
					    </form>
				    </div>
			    </div>
		    </div>
        </div>
        <div class="col-3">
            <div align="center" class="center">
                <!-- QuadradoResponsivo -->
                <ins class="adsbygoogle"
                     style="display:block"
                     data-ad-client="ca-pub-2122647083447667"
                     data-ad-slot="8909468727"
                     data-ad-format="auto"
                     data-full-width-responsive="true"></ins>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top: 30px;margin-bottom: 60px;">
        <div  class="col">
            <div align="center" class="center">
                <!-- HorizontalResponsivo -->
                <ins class="adsbygoogle"
                     style="display:block"
                     data-ad-client="ca-pub-2122647083447667"
                     data-ad-slot="2536456475"
                     data-ad-format="auto"
                     data-full-width-responsive="true"></ins>
            </div>
        </div>
    </div>
</div>